body {text-align: center}
h1 {
  font-family: helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}

h2 {
  font-family: helvetica;
font-size: 32px;
font-weight: bold;
}

h4 {
  font-family: helvetica;
  font-size: 18px
  color: white;
}

h3 {
  font-family: helvetica;
  font-size: 32px
  font-weight: bold;
}

p {
  font-size: 14px;
  font-family: helvetica;
}

h1 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
}

h2.secondary {
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
font-size: 20px;
color: white;}
